server:
  port: 8802
  servlet:
    context-path: /mifss/ipt

swagger:
  title: MIFSS IPT API
  description: MIFSS 住院服务 API 文档
  version: 1.0.0

spring:
  application:
    name: mifss-ipt
#  profiles:
#    active: @cloud.provider@
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://127.0.0.1:3306/medicare_202588?useUnicode=true&characterEncoding=utf-8&useSSL=false&serverTimezone=Asia/Shanghai
    username: root
    password: 123456

security:
  type: hsa-mock
  isPrivilege: true
  oauth2:
    client:
      permits: /,/index.html,/home,/home/**,/login,/logout,/user/forceLogout**,/captcha,/assets/**,/favicon.ico,/doc.html,/swagger-ui.html,/swagger-ui.html/**,/webjars/**,/*/api-docs,/v2/**,/**/swagger-resources/**

cache:
  alone:
    deployType: 1
    cacheName: defaultCache
    clusterNodes: 127.0.0.1:6379
    password: 123456
  cluster:
    deployType: 2
    cacheName: defaultCache
    clusterNodes: 127.0.0.1:6379
    password: 123456
    maxRedirects: 3

session:
  redis:
    host: 127.0.0.1
    password: 123456
    port: 6379
    database: 5
    timeout: 6000
    pool:
      maxIdle: 50
      maxTotal: 100
      maxWaitMillis: -1
      testOnBorrow: true
      testOnReturn: true

# Dubbo3 配置 (服务消费方)
dubbo:
  application:
    name: ${spring.application.name}
    qos-port: 22223
    qos-enable: true
  protocol:
    name: dubbo
    port: 20881
  registry:
    address: nacos://127.0.0.1:8848
  consumer:
    check: false
    timeout: 10000
  scan:
    base-packages: com.aeye.mifss

fsstore:
  type: minio
  bucket: group1

mio:
  endpoint: http://192.168.17.13:9900
  accessKeyId: aeye
  secretAccessKey: Zhy778899
