server:
  port: 8801
  servlet:
    context-path: /mifss/bio

project:
  override:
    # 主干代码的根路径（通配符的起点）
    main-root: com.aeye.mifss
    # 现场代码的根路径
    site-root: com.aeye.mifss
    # 现场类名的前缀，如 SiteUserController。如果完全同名请留空 ""
    class-prefix: Guangxi

mifss:
  dubbo:
    group: guangxi

spring:
  application:
    name: mifss-app-bio

  #  profiles:
  #    active: @cloud.provider@

  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://127.0.0.1:3306/medicare_202588?useUnicode=true&characterEncoding=utf-8&useSSL=false&serverTimezone=Asia/Shanghai
    username: root
    password: 123456

security:
  type: hsa-sso
  isPrivilege: true
  oauth2:
    client:
      permits: /,/index.html,/home,/home/**,/login,/logout,/user/forceLogout**,/captcha,/assets/**,/favicon.ico,/doc.html,/swagger-ui.html,/swagger-ui.html/**,/webjars/**,/*/api-docs,/v2/**,/**/swagger-resources/**

cache:
  alone:
    deployType: 1
    cacheName: defaultCache
    clusterNodes: 127.0.0.1:6379
    password: 123456
  cluster:
    deployType: 2
    cacheName: defaultCache
    clusterNodes: 127.0.0.1:6379
    password: 123456
    maxRedirects: 3

session:
  redis:
    host: 127.0.0.1
    password: 123456
    port: 6379
    database: 5
    timeout: 6000
    pool:
      maxIdle: 50
      maxTotal: 100
      maxWaitMillis: -1
      testOnBorrow: true
      testOnReturn: true

# Dubbo 配置
dubbo:
  application:
    name: ${spring.application.name}
    logger: slf4j
  protocol:
    name: dubbo
    port: -1
  consumer:
    timeout: 60000 #远程服务调用超时时间(毫秒)
  provider:
    retries: 0 #远程服务调用重试次数，不包括第一次调用，不需要重试请设为0
  registry:
    address: zookeeper://127.0.0.1:2181
    timeout: 10000
  metadata-report:
    address: zookeeper://127.0.0.1:2181

fsstore:
  type: minio
  bucket: group1

mio:
  endpoint: http://192.168.17.13:9900
  accessKeyId: aeye
  secretAccessKey: Zhy778899

swagger:
  title: MIFSS BIO API
  description: MIFSS 生物特征识别服务 API 文档
  version: 1.0.0
